* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin-top: 20px;
  margin-left: 30px;
}
.text-box {
  display: flex;
  gap: 5px;
  margin-block: 20px;
}

ul {
  display: flex;
  flex-direction: column;
}
li {
  list-style: none;
  label {
    display: flex;
    gap: 10px;
  }
}

#root {
  display: flex;
  justify-content: center;
  margin-top: 140px;
  height: 100vh;
}

.messanger {
  display: flex;
  gap: 20px;
}

.select-btn {
  padding: 10px 20px;
  width: 70px;
}

textarea {
  height: 140px;
}

.chat-btn {
  padding-inline: 15px;
  padding-block: 10px;
}
