* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin-top: 20px;
  margin-left: 30px;
}
.text-box {
  display: flex;
  gap: 5px;
  margin-block: 20px;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
li {
  list-style: none;
  label {
    display: flex;
    gap: 10px;
  }
}
